.game-over h1 {
  color: red;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.game-over img {
  display: block;
  width: 120px;
  height: auto;
  margin: 0.5rem auto; /* centers the image horizontally */
}